{% extends 'bar.html.twig' %}

{% block body %}
	<header class="py-10 mb-4 bg-gradient-primary-to-secondary">
		<div class="container px-4">
			<div class="text-center">
				<h1 class="text-white">Bienvenue dans notre section événement</h1>
				<p class="lead mb-0 text-white-50">Nous vous guidons dans la réflexion, l'élaboration, l'organisation et la conception de vos projets, qui se basent sur l'apprentissage et l'intégration de la culture de votre club / entreprise.</p>
			</div>
		</div>
	</header>
	<div class="container-fluid">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Découvrez nos derniers événements</h1>
		</div>
		<div class="row">
			{% for event in last_events %}
				<div class="col-md-4">
					<div class="card shadow mb-4">
						<div class="card-header py-3 d-flex">
							<h6 class="m-0 font-weight-bold text-primary mr-auto">{{ event.name }}</h6>
							<span class="font-weight-bold">N°participant :
								{{ event.eventParticipants|length }}</span>
						</div>
						<div class="card-body">
							<div>
								{{  event.description|length > 200 ? event.description|slice(0, 200) ~ '...' : event.description }}
							</div>
							<hr>
							<div>
								Place :
								<span class="font-weight-bold">
									{{ event.place }}
								</span>
							</div>
							<div class="mt-2">
								Prix :
								<span class="font-weight-bold">
									{{ event.price }}
									DT
								</span>
							</div>
						</div>
						<div class="card-footer">
							Organiser par :
							<span class="font-weight-bold">
								{{ event.user.firstname }}
								{{ event.user.lastname }}
							</span>
							<div class="float-right">
								<a href="{{ path('app_event_show', {id:event.id}) }}" class="btn btn-primary">Show</a>
								{% if app.user %}
									{% if not is_granted("ROLE_ADMIN") %}
										{% set parti = 1 %}
										{% for part in event.eventParticipants %}
											{% if part.user == app.user %}
												{% set id_part = part.id %}
												{% set parti = 0 %}
											{% endif %}
										{% endfor %}
										{% if parti == 1 %}
											<a href="{{ path('app_event_participate', {id:event.id}) }}" class="btn btn-warning">participate</a>
										{% else %}
											{% for part in event.eventParticipants %}
												{% if part.user == app.user %}
													<a href="{{ path('app_event_noparticipate', {id:part.id}) }}" class="btn btn-danger">Remove participation</a>
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<div class="col text-center mb-4">
					<h3>Pas d'evenement pour le moment</h3>
				</div>
			{% endfor %}
		</div>
		<div class="text-center">
			<a href="{{ path('app_event') }}" class="btn btn-primary">
				Découvrez notre portfolio d'événement
				<i class="fas fa-plus"></i>
			</a>
		</div>

	</div>
{% endblock %}
